<template>
  <section>
    <h1 class="header">Nuxt TypeScript Starter</h1>
    <div>message : {{ message }}</div>
    <div @click="toggle">click me</div>
    <div class="cards">
      <Card v-for="person in people" :key="person.id" :person="person"></Card>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import { State } from "vuex-class";
import { Person } from "~/types";
import Card from "~/components/Card.vue";

@Component({
  components: {
    Card
  }
})
export default class extends Vue {
  @State people!: Person;

  async asyncData({ $axios }: { $axios: any }) {
    let message = await $axios.$get("/api/user/");

    return { message: message };
  }
  toggle() {
    alert("hoo");
  }
}
</script>

<style scoped>
.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
</style>
